.ride-page-container {
    position: fixed;
    width: 100%;
    height: 90%;
    left: 0;
    top: 90px;
    overflow: scroll;
    overflow-x: hidden;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.ride-info { grid-area: info; }
.ride-posts {grid-area: posts;}
.ride-committed {grid-area: committed;}
.ride-main-feed { grid-area: main; }
.ride-location { grid-area: location; }
.ride-commit-button {grid-area: button}

.ride-page-grid-container {
  display: grid;
  grid-template-areas:
    'info info info info location location'
    'posts posts posts committed committed committed'
    'main main main main main main';
  grid-template-rows: 300px 90px 1fr;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}


.ride-page-container::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

.ride-page-container::-webkit-scrollbar-track {
  background:white;        /* color of the tracking area */
}

.ride-page-container::-webkit-scrollbar-thumb {
  background-color: #e0dccd;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(216, 210, 210);  /* creates padding around scroll thumb */
}

.ride-page-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.ride-committed:hover, .ride-posts:hover {
  cursor: pointer;
}

#feed-selected {
  border-bottom: 10px solid #ff7110;
}

.committed-riders-grid-container {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-areas:
    'level username username username'
    'level location location location'
  ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.committed-riders-grid-container:hover {
  background-color: blanchedalmond;
}

.edit-a-post-button {
  display: flex;
  border: none;
  height: 40px;
  width: 100px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border-width: 2px;
  background-color: #ff7110;
  border-color: #ff7110;
  border-radius: 3px;
  display: inline-block;
}

.edit-a-post-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.post-feed-container {
  width: 80%;
}

.each-post-in-feed {
  border: 1px solid black;
  margin-bottom: 30px;
}

.images-in-post-container {
  /* background-color: blue; */
  height: 500px;
  width: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow:hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}


.images-in-post {
        object-fit: cover;
        object-position: center;
        height: 500px;
        width: 500px;
}
