.navigation {
  height: 90px;
  width: 100%;
  display: grid;
  position: fixed;
  /* grid-template-columns: 17.5% 32.5% 32.5% 17.5%; */
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.navigation-second-fraction {
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-right: 50px; */
}

.navigation-second-fraction div {
  margin-left: 40px;
}

/* .nav-logout {
  margin-left: 150px;
} */
.nav-logged-in-container {
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
  width: 400px;
}

/* .navigation-login-button {
  padding-left: 100px;
} */
.navigation-login-button {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
/* .nav-login {
  padding-left: 100px;
} */

#navigation-button-container {
  text-align: center;
}

.navigation-first {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-image-container {
  height: 75px;
  width: 280px;
}

#logo-image {
  max-height: 100%;
  max-width: 100%;
}

.navigation-home {
  display: inline-flex;
  text-decoration: none;
  color: #df901a;
  font-size: 35px;
}


.nav-logout, .nav-login, .nav-signup {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 20px;
}



.nav-create-a-ride {
  display: flex;
  border: none;
  height: 40px;
  width: 195px;
  font-size: 25px;
  background-color: transparent;
  color: white;
  border-width: 2px;
  background-color: #ff7110;
  border-color: #ff7110;
  border-radius: 3px;
  display: inline-block;
}

.nav-create-a-ride:hover {
  opacity: 0.8;
  cursor: pointer;
}

.nav-your-profile {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 20px;
    margin-left: 20px;
}

.nav-your-profile:hover,
.nav-logout:hover,
.nav-login:hover,
.nav-signup:hover {
  opacity: 0.2;
  transition-duration: 0.2s;
}
