* {
  font-family: Arial, Helvetica, sans-serif;
}


.profile-page-container {
  /* margin-top: 90px; */
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 90px;
    background: rgba(51,51,51,0.7);
}

.item1 { grid-area: rides; }
.item2 {grid-area: commit;}
.item3 {grid-area: following;}
.item4 { grid-area: profile; height: 50%}
.item5 { grid-area: main;}
.item6 { grid-area: right; }
.item7 { grid-area: left; }
/* .item8 { grid-area: footer; } */

/* .item1, .item2, .item3 {
  height: 100%;
} */

.grid-container {
  display: grid;
  grid-template-areas:
    'profile profile rides commit following'
    'profile profile main main main';
    /* 'footer footer footer footer footer'; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 90%;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
