.form-grid-container {
  grid-area: form;
  background-color: aquamarine;
  padding: 20px;
}

.map-grid-container {
  grid-area: map;
  background-color: cadetblue;
  padding: 20px;
}

.create-grid-container {
  display: grid;
  grid-template-areas:
  'form map';
  grid-template-columns: 1fr 1fr;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 90px;

}

.input-select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 0 50px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
}

.map-location {
  height: 700px;
  width: 700px;
  background-color: aqua;
}

.create-form {
  font-family: Arial, Helvetica, sans-serif;
}

.input-text {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 0 50px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
}

#input-date-value {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 0 50px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
}

.submit-cancel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-local-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 50px;
  padding: 20px 0 20px 0px;
}

.private-check {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
}

.submit-button:hover,
.cancel-button:hover,
.choose-image:hover {
  opacity: 0.8;
}


.submit-button,
.cancel-button{
  background-color:#fc4c02;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
  border-radius: 5px;
}

.errors {
    color: red;
}
