.edit-user-close-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem;
  margin-bottom: 50px;
}

.edit-user-close-button-icon:hover {
  cursor: pointer;
}




.edit-user-submit-cancel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-user-submit-button,
.edit-user-cancel-button {
  background-color: #ff7110;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  border-radius: 3px;
}

.login-demo-submit-button:hover,
.login-submit-button:hover {
  opacity: 0.8;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-modal-container-width {
  width: 400px;
  padding: 20px;
}

.login-errors {
  color: red;
}

.level-of-rider-container-edit {
  display: flex;
  flex-direction: row;
}

.level-of-rider-edit {
  width: 100%;
  max-width: 200px;
  overflow: hidden;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
